[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kwiiyatta = {editable = true, path = "."}

[dev-packages]
"flake8" = "*"
"flake8-import-order" = "*"
pytest = "*"

[requires]
python_version = "3.6"
